.card {
  margin-bottom: 16px;
  background-color: rgb(100, 100, 100);
  border-radius: 4px;
  padding: 8px;
}

.image {
  width: 100px;
  height: 100px;
}

.sum {
  display: flex;
  font-size: 32px;

  & > div {
    margin: 0 8px;
  }
}

.qual {
  font-size: 32px;
  width: 30px;
  text-align: center;
}
